[Unit]
Description=PID fan controller

[Service]
ExecStart=/usr/bin/pid-fan-controller
ExecStop=/usr/bin/pid-fan-controller disable
Restart=always
Type=simple
UMask=7177
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service
SystemCallFilter=~@resources
SystemCallFilter=~@privileged
SystemCallArchitectures=native
LockPersonality=true
SocketBindDeny=any
IPAddressDeny=any
CapabilityBoundingSet=
PrivateNetwork=yes
PrivateDevices=true
PrivateMounts=true
PrivateTmp=disconnected
PrivateUsers=true
ProtectHome=yes
ProtectHostname=true
ProtectSystem=strict
ProtectProc=invisible
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=false
RestrictNamespaces=true
RestrictRealtime=true
RestrictAddressFamilies=none
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
